body {
    font-family: 'Lato', sans-serif;
    background: #f6f1a7;
    color: #0e0e0e;
}
#main {
    
    font-size: 15px;
    font-family: sans-serif;
    
}

#title {
    color : rgb(68, 65, 65);
    text-align: center;
    padding: 10px;
    text-shadow: 3px 3px 3px gray;
}

#imag-div{
    background-color: rgb(211, 203, 203);
    padding: 15px;
}

#image{
    max-width:100%;
    width: 500px;
    size: cover;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    box-shadow:10px 10px 20px #000;
}
#imagen-caption{
    text-align: center;
    padding:10px;
    font-size: 20px;
}
p{
    font-family:sans-serif;
    font-size:20px;
    font-weight:normal;
    color :rgba(8, 8, 8, 0.908);   
    text-align: center;
    padding: 10px;
    
}
section{
    font-family:sans-serif;
    font-size:15px;
    font-weight:normal;
    text-align: left;
    line-height: 20px;
}
h3{
    margin: 15px;
    padding: 15px;
    
}
li{
    margin: 10px;
    padding: 10px;
}
#tribute-link{
    text-align: center;
}
a {
  color : gray ;
  text-decoration:none;
  
}
a:hover{
    color:brown;
}